body{

background-color: aqua;	


}



.modal-window{


   position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}


.contents-Modal{

padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
height: 65%;
width: 1200px;
top: 0;
left: 0;
background-color: white;
cursor: default;
border-radius: 20px;
}

.button-Close {
position: absolute;
top: 0;
left: 0;



}